<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaData Collection</title>
    <link rel="icon" href="/img/logo.svg" type="image/icon type">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        @keyframes octocat-wave {
            0%,
            100% {
                transform: rotate(0)
            }
            20%,
            60% {
                transform: rotate(-25deg)
            }
            40%,
            80% {
                transform: rotate(10deg)
            }
        }
        
        @media (max-width:500px) {
            .github-corner:hover .octo-arm {
                animation: none
            }
            .github-corner .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }
        }
        
        .form-group input {
            text-align: center;
        }
        
        input::palaceholder {
            /* Firefox, Chrome, Opera */
            text-align: center;
        }
        
        .form-group select {
            /* Firefox, Chrome, Opera */
            text-align: center;
        }
        
        .page-footer {
            padding-top: 0px;
        }
        
        .page-footer .footer-copyright {
            margin-top: 0px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/index">MetaData Collection</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/index">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/newMovie">New Movies</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/newsong">New Songs</a></li>
                </ul>
            </div>
            <!-- Github Banner-->

        </div>
    </nav>

    <main class="page landing-page">

        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="wrapper animated bounceIn" style="padding-top: 20px">

                    <div class="block-heading">
                        <h2>Welcome </h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                    </div>
                    <div class="block-heading">
                        <!-- <form action="/populate" method="POST" id="populateform" enctype="multipart/formdata">

                            <div class="form-group">
                                <label for="existingdata">INput FIle</label>
                                <input type="file" class="form-control" name="existingdata" id="existingdata" autocomplete="off">
                                <button class="btn btn-primary btn-block" id="submit" type="submit">Populate Existing data</button>
                            </div>


                        </form> -->

                        <form ref='uploadForm' id='uploadForm' action='/populate' method='post' encType="multipart/form-data">
                            <input type="file" name="sampleFile" />
                            <input type='submit' value='Upload!' />
                        </form>

                    </div>
                    <br>
                </div>
            </div>
        </section>

    </main>

    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2021 Copyright</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
    <!-- <script src="/js/setup.js"></script> -->

    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    </script>
</body>

</html>